.addWordFormControl {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.addWordTextField {
    margin: 10px;
    background-color: blanchedalmond;
    padding: 10x;
}

