.boxes {
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.boxes > div > p {
    padding: 10px;
    text-align: center;
}

.boxes > div > div {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.flexbutton {
    align-content: space-around;
}