.main {
    padding: 20px;
    text-align: center;
}

.formikStyle {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.textField {
    margin: 5px;
}

.button {
    margin: 20px;
}

.spinner {
    padding: 20px;
    align-self: center;
}