
.container {
    display: flex;
    flex-wrap: wrap;
}

.pageBar {
    display: inline;
    text-align: right;
}

.addNewElement {
    display: flex;
    height: 50px;
    padding: 20px;
    width: 100%;
    justify-content: flex-start;
}
.addInputField {
    width: 60%;
}

.modal {
    align-items: center;
    align-content: center;
    display: relative;
    top: 30%;
}

.modalStyle {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-color: white;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.modalButtons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modalButtons > button {
    border:gray 1px solid;
    background-color: lightblue;
}

.progressbar {
    display: relative;
    top: 50%;
}