.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100vh;
    border: black 1px solid;
}

.wordsButtonsBox {
    display: flex;
    flex-direction: column;
}

.wordTextField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.wordStyle {
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.buttonStyle {
    margin: 5px;
}