.wordpairs {
    display: inline-table;
}

.wordpair {
    color: goldenrod;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: ghostwhite;
}

.single_word {
    margin: 5px;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: text;
    background-color: pink;
}

.single_word:hover {
    margin: 5px;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: text;
    background-color: palevioletred;
}

.titlePart {
    padding: 20px;
}
