.container {
    display: flex;
    width: 100%;
    height: calc( 100vh - 64px );
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.forbidden {
    width: 300px;
    border: solid;
    text-align: center;

}

.forbidden > div {
    width: 200px;
    height: 200px;
    background-color: crimson;
    margin-left: 50px;
}